body {
  margin: 0;
  background-color: #f6f8f8;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.content_container {
  max-width: 900px;
  margin-right: auto;
  margin-left: auto;
  padding: .5em;
}

.feed_post > * {
  overflow: hidden;
}
